input {
    accent-color: dimgrey;
    outline: none;
}
input[type=checkbox] {
    margin-right: 0.625rem;
    margin-left: 0.125rem;
}
input[type=text] {
    border-width: 1px;
    min-width: 100px;
}
button {
    border-width: 1px;
    border-color: #475569;
    border-radius: 0.375rem;
    color: #475569;
    height: 1.75rem;
    padding: 0 0.25rem;
}
button:hover {
    background-color: #cbd5e1;
}
button.json-editor-btn-edit,button.json-editor-btn-movedown,button.json-editor-btn-moveup,button.json-editor-btn-subtract,button.json-editor-btntype-deleteall {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
}
div.form-control {
    display: flex;
}
div label.required.je-form-input-label {
    font-weight: normal;
    margin-right: 0.25rem;
}
div div[data-theme="html"] .je-indented-panel {
    margin: 0.25rem;
    padding: 0.25rem;
}
select {
    background-color: white;
    outline: none;
    border-width: 1px;
}

body {
    font-family: var(--default-font);
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    background-color: var(--block-bg-color);
    color: var(--text-color);
    color-scheme: var(--tg-color-scheme);
    margin: 0;
    padding: 0;
    width: 1px;
    min-width: 100%;

    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: #ebedf0;
    --animation: .15s ease;
    --page-animation-duration: .3s;
    --page-animation: var(--page-animation-duration) ease;
    --status-height: 48px;
    --accent-color: #31b545;
    --main-color: #f8a917;
    --text-color: #222;
    --page-hint-color: #83878a;
    --hint-color: #74787a;
    --placeholder-color: #999da1;
    --ripple-duration: .45s;
    --ripple-end-duration: .3s;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
html.dark body {
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: #0f0f0f;
    --text-color: #fff;
    --page-hint-color: #9b9ba1;
    --hint-color: #64666d;
    --placeholder-color: #5d6163;
}
